.projects-1{
    background-image: url("https://res.cloudinary.com/dpiatasuq/image/upload/v1691427184/referal/download_starma.png");
    width: 100%;
    border-radius: 10px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }